#menu__toggle {
    opacity: 0;
}

.menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span:before,
.menu__btn > span:after {
    background: black;
    display: block;
    position: absolute;
    height: 2px;
    width:100%;
}

.menu__btn > span:before {
    content:'';
    top: -8px;
}

.menu__btn > span:after {
    content:'';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    /* left: -100%; */
    width: 300px;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 80px 0;
    background: skyblue;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
}

.menu__item {
    display: block;
    
}