
.nav-container {
    /* border: solid 2px yellow; */
    background: steelblue;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.nav-container label, .nav-container input {
    display: none;
}

.logo {
    justify-self: flex-start;
    /* background:red; */
    padding: 0;
}

img {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: tomato solid 2px; */
    flex:auto;
    color: white;
}

.menu {
    /* border: purple solid 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow:3;
    font-size: 24px;
}

.menu > li {
    list-style: none;
}

.menu > li > a {
    text-decoration: none;
    color: white;
}




@media screen and (max-width:768px) {

.menu {
    display: none;
}

.nav-container label {
    display: inline-block;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

.title {
    display: block;
    align-self: center;
    justify-self: right;
    text-align: center;
    font-size: 16px;
}

#nav-toggle:checked ~ .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    z-index:1;
}

.menu > li > a {
    border-bottom: solid gold 2px;
    padding: 0.5rem;
}

#nav-toggle:checked ~ label {
    /* position: absolute;
    top: 2vh;
    right: 0; */
    z-index: 2;
}

}