<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="App portfolio development page">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>
<body>
    <nav id="root-nav">
        <!-- <div class="logo"> -->
           <!-- <h1>Web App World</h1> -->
           <img src="../home-small-logo.png" alt="">
        <!-- </div> -->
        <ul>
            <li><a href=""></a>Home</li>
            <li><a href=""></a>Budget</li>
            <li><a href=""></a>GeoMap</li>
            <li><a href=""></a>Planner</li>
            <li><a href=""></a>Notes</li>
        </ul>
    </nav>
    <script src="../static/js/basic.js"></script>
</body>
</html>