<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="App portfolio development page">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>
<body>
    <nav class="nav-container">
        <input type="checkbox" id="nav-toggle">
        <div class="logo">
            <img src="https://elasticbeanstalk-eu-west-3-503519533577.s3.eu-west-3.amazonaws.com/home-small-logo.png" alt="">
        </div>
        <div class="title">
            <h1>Web App World</h1>
        </div>
        <ul class="menu">
            <li><a href="">Home</a></li>
            <li><a href="">GeoMap</a></li>
            <li><a href="">Budget</a></li>
            <li><a href="">Planner</a></li>
            <li><a href="">Notes</a></li>
        </ul>
        <label for="nav-toggle"><i class="fa fa-bars fa-xl"></i></label>
    </nav>
</body>
</html>