<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Test for image</h1>
    <nav>
        Image should display below
        <img src="https://elasticbeanstalk-eu-west-3-503519533577.s3.eu-west-3.amazonaws.com/parquet_icon.png" alt="">
    </nav>
    <script src="../static/js/basic.js"></script>
</body>
</html>